@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}
h2,
h3 {
  margin: 0.4rem 0;
}
p {
  margin: 0.1rem 0;
}
.container {
  max-width: 600px;
  margin: auto;
  background-color: #f9fafb;
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 6px 11px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 11px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 11px 10px -1px rgba(0, 0, 0, 0.75);
}
.googleSignIn {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  border: none;
  font-family: "Ubuntu", sans-serif;

  padding: 0.1rem 1rem;
  border: 1px solid #374151;
  border-radius: 1rem;
  -webkit-box-shadow: 6px 11px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 11px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 11px 10px -1px rgba(0, 0, 0, 0.75);
}

.googleSignIn img {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.todohead {
  display: flex;
  padding: 0.4rem;
  justify-content: space-between;
}

.todobox {
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
}
#todo {
  background-color: #f9fafb;
  padding: 0.2rem;
  font-size: 1.5rem;
  width: 80%;
  font-family: inherit;
  outline: none;
  border: none;
  border-bottom: 2px solid #4b5563;
}

.todoList {
  padding: 0.4rem;
}
.todoList h2 {
  text-align: center;
}
.list {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
.green {
  background-color: #d1fae5;
  color: #047857;
}
.red {
  background-color: #fee2e2;
  color: #b91c1c;
}
.todoText {
  font-size: 1.5rem;
}
.red .todoText {
  text-decoration: line-through;
}
.done {
  background-color: #28a745;
  color: #fff;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
}
.delete {
  background-color: #b91c1c;
  color: #fff;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn {
  border: 1px solid #4b5563;
  font-family: inherit;
  padding: 0.1rem 1rem;
  background-color: #f3f4f6;
  color: #047857;
  margin: 0.2rem 0.1rem;
  border-radius: 1rem;
}
.btn:hover {
  color: #f3f3f3;
  background-color: #4b5563;
}

.signOut {
  font-size: 1.2rem;

  transform: translateY(5%);
  padding-right: 0.5rem;
}
.btn img {
  display: relative;
  border-radius: 50%;
  width: 1.5rem;
  margin-left: 0.5rem;
  margin-top: -0.3em;
  margin-bottom: -0.3em;
}
